@model IEnumerable<DoAn.Models.LoaiSP>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "LoaiSPs"))
{
    <b>Tìm kiếm theo: </b> @Html.RadioButton("timkiemtheo", "TenLoaiSP")<text>Tên loại</text>
    @Html.RadioButton("timkiemtheo", "MOTA")<text>Mô tả</text>
    @Html.RadioButton("timkiemtheo", "none", true)<text>None</text>
    <br />
    @Html.TextBox("onhap")
    <input type="submit" value="Tìm kiếm" />
}


<table class="table">
    <thead>
        <tr>
            <th>
                Tên loại sản phẩm
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLoaiSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
