@model DoAn.Models.SanPham

@{
    ViewData["Title"] = "CTSP";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var listsp = ViewBag.ListSP;
}
<section class="single-product">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li><a asp-action="Index">Trang chủ</a></li>
                    <li><a asp-action="DSSP">Sản phẩm</a></li>
                    <li class="active">Chi tiết sản phẩm</li>
                </ol>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
                            <div class='carousel-inner '>
                                <div class='item active'>
                                    <img src='~/user/images/shop/products/@Model.HinhAnh' alt='' data-zoom-image="images/shop/single-products/product-1.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-details">
                    <h2>@Model.TenSp</h2>
                    <p class="product-price">@Model.Dongia₫</p>
                    <p class="product-description mt-20">
                        @Model.MoTa
                    </p>
                    <div class="product-size">
                        <span>Kích cỡ: @Model.KichThuoc</span>
                        @{
                            if (Model.SoLuong > 0)
                            {
                                <span>Còn hàng</span>
                            }
                            else
                            {
                                <span>Hết hàng</span>
                            }
                        }
                    </div>
                    <div class="product-quantity">
                        <span>Số lượng:</span>
                        <div class="product-quantity-slider">
                            <input id="product-quantity" type="text" value="1" name="product-quantity">
                        </div>
                    </div>
                    <div class="product-category">
                        <span>Loại sản phẩm:</span>
                        <ul>
                            <li><a href="product-single.html">Áo thun</a></li>
                        </ul>
                    </div>
                    <a asp-action="themgiohang" asp-route-id="@Model.Id" asp-controller="Home" class="btn btn-main mt-20">Thêm giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>


