@model IEnumerable<DoAn.Models.Giohang>
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var listgh = ViewBag.ListGH;

    if (ViewBag.tendangnhap != null)
    {
        ViewData["TenTK"] = ViewBag.tendangnhap;
    }
    else
    {
        ViewData["TenTK"] = "Account";
    }
    TaiKhoan acc = ViewBag.taikhoan;

}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Giỏ hàng</h1>
                    <ol class="breadcrumb">
                        <li><a asp-action="Index">Trang chủ</a></li>
                        <li class="active">giỏ hàng</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
    <div class="cart shopping">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="block">
                        <div class="product-list">
                            
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="">Sản phẩm</th>
                                            <th class="">Đơn giá</th>
                                            <th class="">Số lượng</th>
                                            <th class=""></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr class="">
                                            <td class="">
                                                <div class="product-info">
                                                    <img width="80" src="~/user/images/shop/products/@Html.DisplayFor(modelItem => item.SanPham.HinhAnh)" alt="" />
                                                    <a asp-action="CTSP" asp-route-id="@item.SanPham.Id">@Html.DisplayFor(modelItem => item.SanPham.TenSp)</a>
                                                </div>
                                            </td>
                                            <td class="">@Html.DisplayFor(modelItem => item.SanPham.Dongia) VNĐ</td>
                                            
                                            <td class="">
                                                <div class="col-md-3">
                                                    <div class="product-quantity">
                                                        <form asp-action="UpdateCart" asp-controller="Home" asp-route-id="@item.SanPham.Id">
                                                            <input class="cart_quantity_input" type="text" name="quantity" value="@Html.DisplayFor(modelItem => item.SoLuong)" autocomplete="off" size="1" style="text-align:center">
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="">
                                                <a class="product-remove" asp-action="RemoveCart" asp-route-id="@item.SanPham.Id" asp-controller="Home"><i class="tf-ion-android-remove-circle"></i></a>
                                            </td>
                                        </tr>
                                        }
                                        <tr class="">
                                            <td class="">
                                                <span>Tổng tiền: </span>
                                                <span class="total-price">@ViewBag.Total.ToString("#,##0") VNĐ</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a asp-action="Pay" asp-controller="Home" class="btn btn-main pull-right">Thanh toán</a>
                                <a asp-action="RemoveAllCart" asp-controller="Home" class="btn btn-main btn-icon"><i class="tf-ion-android-delete"></i>Xoá tất cả</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



