@model IEnumerable<DoAn.Models.SanPham>

@{
    ViewData["Title"] = "TrangChu";
    Layout = "~/Views/Shared/_Layout_user.cshtml";
    var listsp = ViewBag.ListSP;
    string username;
    if (ViewBag.tendangnhap != null)
    {
        username = ViewBag.tendangnhap;
    }
    else
    {
        username = "khack";
    }

}


<a>Xin chào @username</a>
<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner" style="padding-bottom:400px; padding-top:200px">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</div>
<!-- Banner Ends Here -->
<!-- Featured Starts Here -->
<div class="featured-items">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Sản phẩm nổi bật</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    @foreach (SanPham item in listsp)
                    {
                        <a asp-action="CTSP" asp-route-id="@item.Id">
                            <div class="featured-item">
                                <img src="~/images/@item.HinhAnh" alt="Item 1" width="200" , height="250">
                                <h4>@item.TenSp</h4>
                                <h6>@item.Dongia</h6>
                                <a asp-action="themgiohang" asp-route-id="@item.Id" asp-controller="Home">
                                    Thêm vào giỏ hàng
                                </a>
                            </div>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featred Ends Here -->
<!-- Subscribe Form Starts Here -->
<div class="subscribe-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <div class="line-dec"></div>
                    <h1>Đăng ký PIXIE ngay bây giờ!</h1>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="main-content">
                  
                    <div class="container">
                        <form id="subscribe" action="" method="get">
                            <div class="row">
                                <div class="col-md-7">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="email"
                                               onfocus="if(this.value == 'Your Email...') { this.value = ''; }"
                                               onBlur="if(this.value == '') { this.value = 'Your Email...';}"
                                               value="Mail của bạn" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-5">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="button">Đăng ký ngay!</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe Form Ends Here -->
