@model DoAn.Models.HoaDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaiKhoan.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLapHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLapHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThongTinNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThongTinNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
