@model IEnumerable<DoAn.Models.TaiKhoan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <div>
        @using (Html.BeginForm("Index", "TaiKhoans"))
        {
        <b>Tìm kiếm theo: </b> @Html.RadioButton("timkiemtheo", "tendangnhap")<text>Tên tài khoản</text>
        @Html.RadioButton("timkiemtheo", "email")<text>Email</text>
        @Html.RadioButton("timkiemtheo", "sdt")<text>Số điện thoại</text>
        @Html.RadioButton("timkiemtheo", "diachi")<text>Địa chỉ</text>
        @Html.RadioButton("timkiemtheo", "hoten")<text>Họ tên</text>
        @Html.RadioButton("timkiemtheo", "none", true)<text>None</text><br />
        @Html.TextBox("onhap") <input type="submit" value="Tìm kiếm" />
        }
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Loại tài khoản
                </th>
                <th>
                    Tên đăng nhập
                </th>
                <th>
                    Mật khẩu
                </th>
                <th>
                    Email
                </th>
                <th>
                    Họ tên
                </th>
                <th>
                     Địa chỉ
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                   Số tài khoản
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Hình đại diện
                </th>
                <th>
                    Tình trạng
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoaiTk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDangNhap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatKHau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgaySinh)
                    </td>
                    <td>
                        <img src="~/images/@Html.DisplayFor(modelItem => item.HinhDaiDien)" width="70" , height="100">                       
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TinhTrang)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>